@font-face{
    font-family: 'Marvel', sans-serif;
    src: 'https://fonts.googleapis.com/css?family=Marvel&display=swap'
  }
body
{
    background-color: #f0131e;
    width:100%;
    font-family: 'Marvel', sans-serif;
}

