@font-face{
    font-family: 'Marvel', sans-serif;
    src: '//fonts.googleapis.com/css?family=Marvel&display=swap'
  }
body
{
    background-color: #f0131e;
    font-family: 'Marvel', sans-serif;
}

